.header {
	position: relative;
	padding: 28px 0;
	background: #ffffff;
	box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
	z-index: 1;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.buttons {
	display: flex;
	align-items: center;
	gap: 30px;
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	width: 300px;
	height: 65px;
	background: #00c78b;
	border-radius: 30px;
	border: none;
	color: white;
	font-weight: 700;
	font-size: 18px;
	transition: all 0.4s ease-in-out;
}
.button:hover {
	background: #03e7a3;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease-in-out;
}

@media (max-width: 1024px) {
	.wrapper {
		flex-direction: column;
	}
	.button {
		width: 220px;
		height: 65px;
		font-size: 14px;
		padding: 16px 0;
	}
	.buttons {
		gap: 25px;
	}
}

@media (max-width: 680px) {
	.wrapper {
		gap: 20px;
	}
	.button {
		width: 200px;
		height: 50px;
		font-size: 12px;
		padding: 14px 0;
	}
	.buttons {
		flex-direction: column;
		gap: 20px;
	}
}
